doctype html
html
    include inc/head.jade
    body
        include inc/nav.jade
        h1 zo kan je mij bereiken
        article
            p | ILSE JANSSENS
               | HAVERBLOK 54
               | 2870  PUURS

            p 0498 595 175 - See more at: http://www.iunctis-manibus.be/contact.html#sthash.614Qaxh1.dpuf
        include inc/footer.jade