doctype html
html
    include inc/head.jade
    body
        include inc/nav.jade
        h1 Ik ben de steentjes die je in het water gooi, de kringen deinen uit tot ze mekaar raken
        article
            img(alt="Mijn profiel foto" src="src/img/profiel.png")
            p Van zodra ik naar school ging had ik nog maar één ambitie: juffrouw worden, lesgeven aan jonge kinderen. Ik heb dan ook vele uren doorgebracht in mijn geïmproviseerd klasje in de speelkamer van mijn ouderlijk huis.
            p(class="quote") Streng maar rechtvaardig was altijd mijn motto!
            p In heel mijn spel had ik altijd veel oog voor de "zwakke" kinderen in mijn klas. Die hadden mijn hulp immers meer dan nodig en in elke rol die ik speelde kwam ik met veel passie voor hen op. Die passie voor hun "anders-zijn" is gebleven.
            p Eindelijk was het zover: ik werd kleuterjuf. Eerst de 2,5-jarigen, dan de 4-jarigen, 5-jarigen, turnjuf, en zorgjuf. Al vlug zag ik dat elk kind wel zijn specifieke noden heeft. De vraag was: hoe kan ik oog hebben voor hun eigenheid zonder de algemene doelen uit het oog te verliezen. Ik vond het belangrijk om op zoek te gaan naar methodes om deze kinderen te begeleiden. Dus ben ik allerlei opleidingen gaan volgen. Onder andere: wat zeggen kleutertekeningen ons, ruimtelijk/visuele problemen... wat doe je er mee, "no blame" methode rond pesten, communicatie, omgaan met ADHD en autisme, ... .
            p | Op een gegeven moment kreeg ik de kans om in het bijzonder onderwijs te werken als bliom-juf: werken met migranten. Wat begon als taalondersteuning evolueerde al snel naar omgaan met kansarmoede, verschillende culturen en hun eigenheid, communiceren met anderstaligen en de problematiek van mekaar niet verstaan... . Ook het onbegrip van het team en de vooroordelen die er leefden vormden een grote barrière.
                | Deze ervaring heeft mij ertoe gebracht om een 2-jarige Coaching-opleiding te gaan volgen : groepen in organisatie.
            p | Toen ik de kans kreeg om de theorie in een directiefunctie in de praktijk om te zetten heb ik ze gegrepen. Op die manier werd het stilaan duidelijk dat ik ook andere capaciteiten had en dat mijn passie voor het "anders zijn" nog groeide. Communicatie, lichaamstaal, gezien en gehoord worden, jezelf mogen zijn met heel je rugzak vol ervaringen (goede en minder goede eigenschappen), ... .
               | Dit was weer een enorme groeikans en van daaruit zocht ik een nieuwe uitdaging.
            p | Die kwam er  in een school met barrières in zowel taal, religie, waarden en normen en de gedragingen die daarbij horen. Ik mocht een jaarproject uitwerken onder de naam "het zonnebloemproject"
               | Samen met iedereen die (samen) school maakt (= directie, leerkrachten, kinderen, ouders, logistiek personeel, CLB,..) zijn we aan de slag gegaan : hoe communiceer je met elkaar, ook zonder verbale taal? Hoe los je conflicten op? Hoe kijk je naar elkaars "anders" zijn? Het is maar een kleine greep uit waar er (nog steeds) rond gewerkt wordt.
               | Boeiend om te zien hoe anders kijken zo snel resultaat heeft.
            p | Ondertussen ga ik op stap met mensen, altijd vertrekkende vanuit talenten, positief kijken naar wat er wél is en van daaruit verder bouwen.
               | Onder het motto "al doende leert men" neem ik volwassenen, kinderen, groepen, teams mee in groeien,
               | leer ik ze anders kijken en via eenvoudige trucjes hun situaties omdraaien.
            p(class="quote") Mijn motto : jij hebt de persoon en je hebt het gedrag van die persoon.  Die twee duidelijk van elkaar onderscheiden is de basis, want gedrag kan je altijd veranderen zolang je er echt voor kiest!
            p(class="quote") ! Hartelijk welkom !
            p(class="quote") HAND IN HAND - IUNCTIS MANIBUS
        include inc/footer.jade
        