head
    base(href="/")

    title Mijn Site
    meta(charset="utf-8")
    meta(name="site_name" content="Mijn site")
    meta(name="title" content="Mijn site")
    meta(name="description" content="")

    link(rel="stylesheet" href="src/css/styles.css" type="text/css")
     