nav
    a(href="/")
        img(alt="logo iunctis manibus" src="src/img/logo.png")
    a(href="/") Wie ben ik
    a(href="#") Coaching
    a(href="#") Opleidingen
    a(href="#") Pesten
    a(href="#") Workshops
    a(href="#") Kalender
    a(href="contact.html") Contact
    div(class="clearfix")